body {
    background-color: #121212;
    color: #FFFFFF;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
}

h1 {
    font-size: 2rem;
    margin-bottom: 20px;
}

.link-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

.link-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #03A9F4;
    color: #FFFFFF;
    text-decoration: none;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.link-button:hover {
    background-color: #0288D1;
    transform: scale(1.05);
}

.red-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #f60808;
    color: #FFFFFF;
    text-decoration: none;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.red-button:hover {
    background-color: #f60808;
    transform: scale(1.05);
}

@media (max-width: 600px) {
    h1 {
        font-size: 1.5rem;
    }

    .link-button {
        font-size: 0.9rem;
        padding: 8px 15px;
    }

    .red-button {
        font-size: 0.9rem;
        padding: 8px 15px;
    }
}