body {
    background-color: #121212;
    color: #FFFFFF;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.link-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #03A9F4;
    color: #FFFFFF;
    text-decoration: none;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.link-button:hover {
    background-color: #0288D1;
    transform: scale(1.05);
}

.std-btn {
    padding: 8px 15px;
    background-color: #444444;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.std-btn:hover { background-color: #666666; }

.red-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #f60808;
    color: #FFFFFF;
    text-decoration: none;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.red-button:hover {
    background-color: #f60808;
    transform: scale(1.05);
}

.back-button {
    display: inline-block;
    margin: 20px;
    padding: 10px 20px;
    background-color: #03A9F4;
    color: #FFFFFF;
    text-decoration: none;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    transition: background-color 0.3s ease;
}

.back-button:hover {
    background-color: #0288D1;
}

.spinner {
    border: 4px solid rgba(255, 255, 255, 0.2);
    border-top: 4px solid #4caf50;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    animation: spin 1s linear infinite;
}
@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@media (max-width: 600px) {
    .link-button {
        font-size: 0.9rem;
        padding: 8px 15px;
    }

    .red-button {
        font-size: 0.9rem;
        padding: 8px 15px;
    }
}