<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Music Player</title>
    <link rel="stylesheet" href="/static/css/mplayer.css">
</head>
<body>
    <a href="/" class="link-button">Home</a>
    
    <br>
    
    <button id="toggleInputBlockButton">Add Playlist</button>
    <div class="input-block" id="inputBlock" style="display: none;">
        <div>By Files (.mp3 only): </div>
        <br>
        <form enctype="multipart/form-data" onsubmit="uploadPlaylist(event)">
            <input type="file" id="filesUpload" name="files" multiple accept=".mp3"/>
            <br>
            <input type="text" id="uploadName" placeholder="Enter name of playlist"/>
            <br><br>
            <input type="submit" value="Upload"/>
        </form>
        <br>
        <div class="spinner" id="spinner"></div>
        <br><br>
        
        <div>By YouTube Playlist: </div>
        <br>
        <input type="text" id="newPlaylistName" placeholder="Enter YouTube playlist link or ID" />
        <br><br>
        <button id="addPlaylistButton">OK</button>
    </div>

    <br>

    <div class="compressed-data-block">
        <a class="compress-data-button" href="/compress_data">Compress Data</a>
        <label for="compressedDataSelect">Compressed Files: </label>
        <select id="compressedDataSelect">
            {% for filename in compressed_data_list %}
                <option>{{ filename }}</option>
            {% endfor %}
        </select>
        <div class="btns-block">
            <button id="downloadCompressedBtn">Download</button>
            <button id="deleteCompressedBtn">Delete</button>
        </div>
        <script>
            document.getElementById('downloadCompressedBtn').onclick = function() {
                const select = document.getElementById('compressedDataSelect');
                const url = `/download_compressed_data?filename=${select.options[select.selectedIndex].text}`;
                if (url) {
                    window.location.href = url;
                }
            };
            document.getElementById('deleteCompressedBtn').onclick = function() {
                const select = document.getElementById('compressedDataSelect');
                const filename = select.options[select.selectedIndex].text;
                fetch(`/delete_compressed_data?filename=${filename}`, {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    }
                })
                .then(response => response.text())
                .then(data => {
                    alert(data);
                    location.reload();
                })
                .catch(error => {
                    alert('Error: ' + error);
                });
            };
        </script>
    </div>

    <h2>Playlist</h2>
    <div id="playlists"></div>

    <script>
        const listsInfo = JSON.parse('{{ lists_info|tojson }}');
        const area = document.getElementById("playlists");
        const spinner = document.getElementById('spinner');

        let xhr = null; 

        const inputBlock = document.getElementById('inputBlock');
        const toggleButton = document.getElementById('toggleInputBlockButton');

        for (let [index, value] of listsInfo.entries()) {
            const anchor = document.createElement('a');
            anchor.textContent = value["list-name"];
            anchor.href = '/mplayer/' + index;
            anchor.classList.add('playlist-item');
            area.appendChild(anchor);
        }

        function extractPlaylistID(url) {
            // Regular expression to match the playlist ID in the URL
            const playlistRegex = /[?&]list=([a-zA-Z0-9_-]+)/;
            
            // Test the URL and extract the ID if it matches
            const match = url.match(playlistRegex);
            if (match && match[1]) {
                return match[1];
            } else {
                return url;
            }
        }

        function showSpinner() {
            spinner.style.display = "block";
        }
        function hideSpinner() {
            spinner.style.display = "none"; 
        }

        function abortXhr(alert_cancelled = false) {
            if (xhr != null) {
                xhr.abort();
                xhr = null; 
                if (!alert_cancelled) alert("Stop uploading");
                location.reload();
            }
        }
        function uploadPlaylist(event) {
            event.preventDefault();
            if (xhr != null) {
                alert("File is still uploading");
                return ;
            }

            const filesInput = document.getElementById('filesUpload');
            const nameInput = document.getElementById('uploadName');

            showSpinner(); 

            // 確保輸入內容有效
            if (!filesInput.files.length) {
                alert("Please select at least one file.");
                hideSpinner(); 
                return;
            }

            if (!nameInput.value.trim()) {
                alert("Please enter a playlist name.");
                hideSpinner(); 
                return;
            }

            // 構建 FormData 物件
            const formData = new FormData();
            for (const file of filesInput.files) {
                formData.append('files', file); // 多檔案上傳
            }
            formData.append('playlistName', nameInput.value); // 傳遞文字內容

            xhr = new XMLHttpRequest();
            xhr.open('POST', '/upload_playlist', true);

            // var totalSize = null;
            // var totalSizeStr = null;

            // xhr.upload.onprogress = (event) => {
            //     if (event.lengthComputable) {
            //         if (totalSize === null) {
            //             totalSize = event.total;
            //             totalSizeStr = convertSize(totalSize);
            //         }
            //         var percentComplete = (event.loaded / totalSize) * 100;
            //         document.getElementById('progress-bar').value = percentComplete;
            //         document.getElementById('progress-text').textContent = percentComplete.toFixed(2) + "% " + convertSize(event.loaded) + "/" + totalSizeStr;
            //         document.getElementById('progress-div').style.display = 'block';
            //     }
            // };

            xhr.onload = () => {
                if (xhr.status == 200) {
                    hideSpinner(); 
                    alert('File successfully uploaded');
                    alert(xhr.responseText);
                    abortXhr(true);
                    location.reload();
                } else {
                    alert('Error uploading file: ' + xhr.statusText);
                    alert(xhr.responseText);
                    abortXhr(true);
                    hideSpinner(); 
                }
                // totalSize = null;
                // totalSizeStr = null;
            };

            xhr.send(formData);
        }
        
        document.getElementById('addPlaylistButton').addEventListener('click', () => {
            const playlistURL = document.getElementById('newPlaylistName').value.trim();
            if (playlistURL) {
                // Regular expression to match the playlist ID in the URL
                const playlistRegex = /[?&]list=([a-zA-Z0-9_-]+)/;
                var extract_id = extractPlaylistID(playlistURL);
                
                url = `/mplayer_create?yt_playlist_id=${extract_id}`
                window.location.href = url;
            }
        });

        document.getElementById('toggleInputBlockButton').addEventListener('click', () => {
            if (inputBlock.style.display === "none" || !inputBlock.style.display) {
                inputBlock.style.display = "block";
                toggleButton.textContent = "Hide";
            } else {
                inputBlock.style.display = "none";
                toggleButton.textContent = "Add Playlist";
            }
        });
    </script>
</body>
</html>
